/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    border: none;
}

input, label {
    display: block;
    outline: none;
    width: 100%;
}

a {
    color: #4e1c1c;
}

body {
    padding-top: 10vh;
    background-image: url('../img/coffee.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* form */
#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9));
    box-shadow: 1px 1px 20px #000;
    border-radius: 5px;
    padding: 35px;
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6em;    
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;
}

.gen-box {
    display: flex;
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    background: linear-gradient(rgba(83, 83, 83, 0.3), rgba(82, 82, 82, 0.3));
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 35px;
    border-radius: 3px;
}

input:focus {
    border-color: #351818;
}

input[type="submit"] {
    background-color: #290505;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    height: 35px;
    cursor: pointer;
}

#agreement {
    margin-right: 5px;
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;
}

.error-validation {
    color: #ff1a1a;
    position: absolute;
    top: 57px;
    font-size: 12px;
  }

.template {
    display: none;
}